.dart_tool/
.local/
node_modules/
**/build/
**/doc/api/
**/.flutter-plugins*
**/local.properties
**/Generated.xcconfig
**/flutter_export_environment.sh
**/ephemeral/
**/Pods/
**/Podfile.lock
.DS_Store
.env*
*.trace
__pycache__/
*.py[cod]
**/.symlinks/
